.next/
node_modules/
.npm-cache/
out/
dist/
*.log
*.tsbuildinfo
.DS_Store
note-data:/
.env*
!.env.example

/app/generated/prisma
/lib/generated/prisma
/prisma/dev.db
/prisma/dev.db-journal
/prisma/dev.db-shm
/prisma/dev.db-wal
/prisma/dev.db.backup-*
